/* Start Varibales  */
:root{
   --mine-color:#3300ff;
   --second-color:#33ffff;
   --transform-color:#0066ff;
   --mine-transition:0.8s;
}
/* End Varibales  */
/* Start Global Roules  */
*{
   --webkit-box-size:border-box;
   --moz-box-size:border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Amiri', serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
/* End Global Roules */
/* Strat Media  */
/* Small media  */
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1140px;
    }
}
/* End Media  */
/* Start Header  */
header{
    background-color: rgba(204, 204, 204, 40%);
        box-shadow: 1px 4px 30px -6px;
}

header .container{
    display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
}
header .container .logo {
    display: flex;
    position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
header .container .logo img {
    width: 20vh;
        
}
@media (max-width:767px) {
    header .container .logo{
        display: flex;
            justify-content: center;
            align-items: center;
            transform: translate(120px, -10px);
    }
}
header .container .logo h2 {
    font-family: 'Kufam', sans-serif;
        color: var(--mine-color);
        margin: 10px 0 0 0;
}
header .container .logo h2 span{
    font-family: 'Lateef', cursive;
}

header .container .one-links ul {
    display: flex;
        direction: rtl;
        font-size: 27px;
}
@media(max-width:767px) {
    header .container .one-links ul {
            display: flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            align-items: center;
            /* right:-100px; */
            top:210px;
            transform: translate(-120px, 70px);
            -webkit-transform: translate(-120px, 70px);
            -moz-transform: translate(-120px, 70px);
            -ms-transform: translate(-120px, 70px);
            -o-transform: translate(-120px, 70px);
}
    
    header .container .one-links ul li {
        display: flex;
            padding: 5px;
            justify-content: center;
            font-size: 22px;
    }
    
}

header .container .one-links ul li a{
    color: var(--mine-color);
        display: flex;
        padding: 10px 15px;
        text-align: center;
        align-items: center;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        transition: var(--mine-transition);
        -webkit-transition: var(--mine-transition);
        -moz-transition: var(--mine-transition);
        -ms-transition: var(--mine-transition);
        -o-transition: var(--mine-transition);
}
header .container .one-links ul li a:hover {
    color: var(--transform-color);
}
header .container .one-links ul li a::before {
    content: "";
        position: absolute;
        background-color: var(--transform-color);
        width: 0px;
        height: 3px;
        bottom: 1px;
        left: 0;
        display: flex;
        overflow: hidden;
        transition: var(--mine-transition);
        -webkit-transition: var(--mine-transition);
        -moz-transition: var(--mine-transition);
        -ms-transition: var(--mine-transition);
        -o-transition: var(--mine-transition);
}
header .container .one-links ul li a::after {
    content: "";
        position: absolute;
        background-color: var(--transform-color);
        width: 0px;
        height: 3px;
        top: 2px;
        left: 0;
        display: flex;
        overflow: hidden;
        transition: var(--mine-transition);
        -webkit-transition: var(--mine-transition);
        -moz-transition: var(--mine-transition);
        -ms-transition: var(--mine-transition);
        -o-transition: var(--mine-transition);
}
header .container .one-links ul li a:hover::before,
header .container .one-links ul li a:hover::after,
header .container .one-links ul li a:hover{ 
    color: var(--transform-color);
        width: 100%;
}

header .container .one-links ul .more-links ul{
    display: flex;
        position: absolute;
        flex-direction: column;
        background-color: rgb(204 204 204 / 40%);
        border-radius: 12px;
        box-shadow: 0px 5px 20px -2px;
        top: 234px;
        overflow: hidden;
}
header .container .one-links ul .more-links ul {
    /* display: none; */
}

header .container .one-links ul .more-links:hover ul{
    display: flex;
}
header .container .one-links ul .more-links ul::before{
    content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--transform-color);
}
header .container .one-links ul .more-links ul li {
    font-size: 22px;
        display: flex;
}
header .container .one-links ul .more-links ul li a {
    color: black;
}

@media(max-width:767px){
    header .container .one-links ul .more-links ul{
    display: flex;
        position: absolute;
        top: 0;
        background-color: transparent;
        box-shadow: 0 0 0 0;
        /* left: -150px; */
    }
     header .container .sochil{
        display: flex;
            position: relative;
            bottom: -165px;
     }
}
header .container .one-links ul .more-links ul::before{
    display: none;
}
header .container .one-links ul .more-links ul{
    display: none;
}
/* #hide {
    display: none;
} */
header .container .one-links ul .more-links:hover ul{
    display: flex;
}
header .container .one-links ul .more-links ul li a {
    font-size: 18px;
}
header .container .togle i{
    display: none;
}
header .container .sochil ul {
    display: flex;
}
header .container .sochil ul li {
    padding: 0 3px;
}
header .container .sochil ul li a {
    font-size: 40px;
        text-align: center;
        align-items: center;
        border-radius: 50%;
        display: flex;
}
header .container .sochil ul li a i{
    transition: var(--mine-transition);
        -webkit-transition: var(--mine-transition);
        -moz-transition: var(--mine-transition);
        -ms-transition: var(--mine-transition);
        -o-transition: var(--mine-transition);
}
header .container .sochil ul li:first-child a>i:hover{
    color: #0066ff;
        box-shadow: 0px 6px 20px 1px;
        font-size: 50px;
}
header .container .sochil ul li:nth-child(2) a>i:hover{
    color: #ffb700;
        box-shadow: 0px 6px 20px 1px;
        font-size: 50px;
}
header .container .sochil ul li:nth-child(3) a>i:hover {
    color: #00ff04;
        box-shadow: 0px 6px 20px 1px;
        font-size: 50px;
}
@media (min-width:768px) and (max-width:991px) {
    header .container .togle{
    display:none
    }
    header .container .togle i {
    display: flex;
        position: absolute;
        top: 100%;
        right: 75px;
        transform: translate(-50px, 50px);
        font-size: 30px;
    }
    header .container .one-links ul{
        display: flex;
            position: absolute;
            left: 230px;
    }
    header .container .sochil ul {
    display: flex;
        position: relative;
        top: 250px;
        /* transform: translate(-125px, 20px); */
    }
    header .container .sochil ul i{
        font-size: 45px;
        transition: var(--mine-transition);
        -webkit-transition: var(--mine-transition);
        -moz-transition: var(--mine-transition);
        -ms-transition: var(--mine-transition);
        -o-transition: var(--mine-transition);
}
    header .container .sochil ul i:hover {
        font-size: 60px;
    }
    header .container .one-links ul .more-links ul{
    top: 110px;
        left: 110px;
    }
    header .container .one-links ul .more-links ul li a{
    font-size: 25px;
    }
}
@media (max-width:1280px){
    header .container .one-links ul .more-links ul {
            top: 175px;
        }
}
/* End header */
/* Start section-landing  */
.landing{
    padding-top: 100px;
        padding-bottom: 100px;
        height: 740px;
        min-width: 100vh;
}
.landing .container{
    padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        background-image: url(/images/landing/landing-3.jpg);
        background-size: cover;
        height: 100%;
        position: relative;
        animation-name: chang-background;
        animation-duration: 16s;
        animation-timing-function: initial;
        animation-iteration-count: infinite;
        border-radius: 15px;
}
.landing .container i:nth-child(1),
.landing .container i:nth-child(2){
    font-size: 40px;
        color: var(--second-color);
        position: absolute;
        transform: translatey(200px);
}
.landing .container i:nth-child(1){
    left: -25px;
}
.landing .container i:nth-child(2) {
    right: -25px;
}
.landing .container .bullets {
        position: absolute;
        left: 50%;
        bottom: -35px;
        transform: translatex(-50px);
        display: flex;
        -webkit-transform: translatex(-50px);
        -moz-transform: translatex(-50px);
        -ms-transform: translatex(-50px);
        -o-transform: translatex(-50px);
}
.landing .container .bullets li  {
    width: 20px;
        height: 20px;
        background-color: #9fede9;
        margin: 0 2px;
        border-radius: 50%;
        animation-name: chang-backgroun-color;
        animation-duration: 15s;
        animation-timing-function: initial;
        animation-iteration-count: infinite;
}
.landing .container .bullets .active{
    background-color: #05efe3;
    
}
@media(max-width:991px){
.landing{
    min-width: 0;
        position: relative;
        top: 200px;
    }
.landing .container{
    min-width: 96%;
        height: 70%;
    }
.landing .container i:nth-child(1),
.landing .container i:nth-child(2){
    display: none;
    }
.landing .container .bullets{
    transform: translate(-25px, -16px);
    }
.landing .container .bullets li{
    width: 10px;
        height: 10px;
    }
}
@media(max-width:767px){
    .landing .container{
height: 32%;
    }
}
/* End section-landing  */
/* Start Animaiton  */
@keyframes chang-background{
    0%,
    100%{
        background-image: url(/images/landing/landing-1.jpg);
    }
    25%{
        background-image: url(/images/landing/landing-2.jpg);
    }
    50%{
        background-image: url(/images/landing/landing-3.jpg);
    }
    75%{
        background-image: url(/images/landing/landing-4.jpg);
    }
} 

/* Strat section-cont  */
.cont{
    display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        position: relative;
        
}
.cont .container {
    position: relative;
    display: flex;
    flex-direction: column;
}
.cont .container .text h2{
    position: relative;
        margin: -30px 0 20px;
        font-size: 50px;
        color: var(--mine-color);
        font-family: cursive;
}
.cont .container .text p:nth-child(2){
    font-size: 40px;
}
.cont .container .text p:nth-child(2) span{
    color: var(--transform-color);
}
.cont .container .text p:last-child{
    font-size: 28px;
        margin: 5px 0 30px;
        line-height: 1.8;
        direction: rtl;
}
.cont .container .bottom{
    font-size: 22px;
        background-color: #7fffd4c7;
        padding: 17px;
        display: flex;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: -50px;
        transform: translate(-50px, -50px);
        border-radius: 20px;
        direction: rtl;
}
@media(max-width:767px){
    .cont{
        top: -180px;
    }
    .cont .container .text {
        direction: rtl;
            padding: 0 25px;
            position: relative;
    }
    .cont .container .text h2 {
            font-size: 30px;
    }
    .cont .container .text p:nth-child(2) {
    font-size: 25px;
    }
    .cont .container .text p:last-child {
        font-size: 18px;
            margin: 0 0 15px;
    }
    .cont .container .bottom{
        font-size: 18px;
            bottom: -75px;
            padding: 12px;
    }
}
/* End section-cont  */
/* Start section-serv  */
.serv .mean {
    display: flex;
        position: relative;
        padding: 35px 0;
        left: 50%;
        width: 90px;
        justify-content: center;
        text-align: center;
        transform: translate(-30px, 0px);
        margin: 10px 0;
}
.serv .mean h2 {
    font-size: 70px;
}
.serv .cont-serv{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 20px;
        position: relative;
}
.serv .box{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px 10px;
}
.serv .box .image{
padding: 8px 12px ;
margin: 5px 10px;
}
.serv .box .image img{
    width: 20%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.serv .box .text{
    direction: rtl;
        line-height: 1.8;
        font-size: 24px;
}
.serv .box .text h3 {
    font-size: 28px;
        color: var(--mine-color);
}
.serv .box .text p {
    direction: rtl;
        line-height: 1.8;
}
.serv .box .bottom {
    font-size: 28px;
        background-color: #7fffd4c7;
        padding: 7px;
        display: flex;
        justify-content: center;
        left: 50%;
        border-radius: 16px;
        direction: rtl;
        margin: 22px 0;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
}
@media(max-width:767px){
    .serv .cont-serv {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;
            position: relative;
        }
.serv .box .image{
    padding: 5px 10px;
    }
.serv .box .image img{
    border-radius: 12px;
    }
.serv .box .text h3{
    font-size: 20px;
        color: var(--mine-color);
    }
.serv .box .text{
    direction: rtl;
        line-height: 1.6;
        font-size: 18px;
    }
    .serv .box .bottom{
        font-size: 18px;
            background-color: #7fffd4c7;
            padding: 7px;
            display: flex;
            justify-content: center;
            left: 50%;
            border-radius: 7px;
            direction: rtl;
            margin: 11px 0;
    }
}
@media(min-width:786px) and (max-width:992px) {
.serv .box .image {
        padding: 5px 10px;
    }
    .serv .box .image img {
        border-radius: 14px;
            width: 100px;
    }
    .serv .box .text {
        direction: rtl;
            line-height: 1.8;
            font-size: 25px;
    }
    .serv .box .text h3 {
        font-size: 38px;
        color: var(--mine-color);
    }
    .serv .box .bottom {
        font-size: 30px;
        background-color: #7fffd4c7;
        padding: 7px;
        display: flex;
        justify-content: center;
        left: 50%;
        border-radius: 16px;
        direction: rtl;
        margin: 16px 0;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
    }
}
/* End section-serv  */

/* Start Footer  */
Footer{
background-color: #000000cf;
}
.cont-foot{
display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}
.cont-foot .box,
.cont-foot .box-one,
.cont-foot .box-tow{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    margin: 10px 0;
    color: #a3a3a3
}
.cont-foot .box h3,
.cont-foot .box-one h3,
.cont-foot .box-tow h3{
    font-size: 35px;
    margin: 0 0 15px;
    color: rgb(254, 251, 251);
}
.cont-foot .box .lok{
    font-size: 22px;
    margin: 10px 0;}
.cont-foot .box .lok .icom i,
.cont-foot .box .conat .icom i {
font-size: 40px;
    margin: 0 0 15px;
}
.cont-foot .box .lok .text a {
    color: #a3a3a3;
    transition: var(--mine-transition);
    -webkit-transition: var(--mine-transition);
    -moz-transition: var(--mine-transition);
    -ms-transition: var(--mine-transition);
    -o-transition: var(--mine-transition);

}

.cont-foot .box .conat .number {
    font-size: 28px;
    transition: ver(--mine-transition);
        -webkit-transition: ver(--mine-transition);
        -moz-transition: ver(--mine-transition);
        -ms-transition: ver(--mine-transition);
        -o-transition: ver(--mine-transition);
}

.cont-foot .box .conat .email a{
    color: #a3a3a3;
    font-size: 30px;
    transition: ver(--mine-transition);
        -webkit-transition: ver(--mine-transition);
        -moz-transition: ver(--mine-transition);
        -ms-transition: ver(--mine-transition);
        -o-transition: ver(--mine-transition);
}
.cont-foot .box-one h3,
.cont-foot .box-tow h3 {
    position: relative;
    top: -15px;
}
.cont-foot .box-one .box,
.cont-foot .box-tow .box{
    display: flex;
        flex-direction: row;
        direction: rtl;
        position: relative;
        font-size: 30px;
}

.cont-foot .box-one .box i,
.cont-foot .box-tow .box i {
font-size: 20px;
    margin: 0 8px 0;
}
.cont-foot .box-one .box a,
.cont-foot .box-tow .box a{
    color: #a3a3a3;
    margin: 10px 0;
    transition: ver(--mine-transition);
    -webkit-transition: ver(--mine-transition);
    -moz-transition: ver(--mine-transition);
    -ms-transition: ver(--mine-transition);
    -o-transition: ver(--mine-transition);
}
.cont-foot .box-one .box a:hover,
.cont-foot .box-tow .box a:hover,
.cont-foot .box .lok .text a:hover,
.cont-foot .box .conat .number:hover,
.cont-foot .box .conat .email a:hover {
    color: #efe8e8;
    
}
Footer .soc-icom {
    position: relative;
}
Footer .soc-icom ul{
display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
Footer .soc-icom ul li{
    margin: 0 20px;
    font-size: 40px;
    transition:var(--mine-transition) ;
    -webkit-transition:var(--mine-transition) ;
    -moz-transition:var(--mine-transition) ;
    -ms-transition:var(--mine-transition) ;
    -o-transition:var(--mine-transition) ;
    position: relative;
}
Footer .soc-icom ul li:nth-child(1) a i:hover{
    color: #00ff04;
}
Footer .soc-icom ul li:nth-child(2) a i:hover{
    color: #05edad;
}
Footer .soc-icom ul li:nth-child(3) a i:hover{
    color: #f3810a;
}
Footer .soc-icom ul li:nth-child(4) a i:hover{
    color: #0770f1;
}
Footer .footer-last{
display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 28px;
}
Footer .footer-last .footer-bottom{
width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #000000d9;
    position: relative;
    left: 20px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
Footer .footer-last .footer-bottom .icom {
    color: var(--second-color);
}

Footer .footer-last .text {
    position: relative;
        right: 50px;
        direction: rtl;
        color: var(--second-color);
}
@media(max-width:767px){
    .cont-foot {
        display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;
            position: relative;
    }

    .cont-foot .box h3,
    .cont-foot .box-one h3,
    .cont-foot .box-tow h3 {
            margin: 10px 0;
    }
    .cont-foot .box .lok .icom i {
        font-size: 25px;
            margin: 5px 0 15px;
    }
    .cont-foot .box .conat {
        margin: 15px 0;
    }

    .cont-foot .box .conat .icom i {
        font-size: 25px;
            margin: 5px 0 15px;
    }

    .cont-foot .box .conat .number {
        font-size: 25px;
    }
    .cont-foot .box-one .box,
    .cont-foot .box-tow .box{
        display: flex;
            flex-direction: row;
            direction: rtl;
            justify-content: space-between;
            position: relative;
            color: #a3a3a3
    }
    .cont-foot .box-one .box i,
    .cont-foot .box-tow .box i{
        margin: 0 10px 0;
    }
    
    .cont-foot .box-one .box a,
    .cont-foot .box-tow .box a {
        font-size: 20px;
    }

Footer .soc-icom ul li {
        margin: 0 15px;
            font-size: 25px;
    }
Footer .soc-icom ul li a i {
        color: var(--second-color);
            transition: var(--mine-transition);
    }

Footer .footer-last{
        display: flex;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            margin: 15px 0 0;
            padding: 10px;
            position: relative;
    }
Footer .footer-last .footer-bottom {
            width: 35px;
            height: 35px;
            background-color: #000000bd;
            border-radius: 50%;
            position: relative;
            top: -40px;
            left: 10px;
    }
Footer .footer-last .footer-bottom .icom {
        font-size: 18px;
    }
Footer .footer-last .text{
        font-size: 18px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .cont-foot .box {
        display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: relative;
            color: #a3a3a3
    }

    .cont-foot .box h3,
    .cont-foot .box-one h3,
    .cont-foot .box-tow h3 {
        font-size: 35px;
            margin: 10px 0;
            color: white;
            text-align: center;
            position: relative;
                top: 0;
    }

    .cont-foot .box .lok {
        font-size: 20px;
            margin: 8px;
    }

    .cont-foot .box .lok .icom i,
    .cont-foot .box .conat .icom i {
        font-size: 35px;
            margin: 8px;
    }
    .cont-foot .box .conat .number {
        font-size: 30px;
    }
    .cont-foot .box .conat .email a{
        font-size:30px
    }
    .cont-foot .box-one .box,
    .cont-foot .box-tow .box {
        display: flex;
            justify-content: center;
            position: relative;
            flex-direction: row;
            direction: rtl;
            font-size: 30px;
            padding: 20px 0;
    }
    .cont-foot .box-one .box i,
    .cont-foot .box-tow .box i {
        font-size: 20px;
            margin: 10px;
    }
    Footer .soc-icom ul {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    Footer .soc-icom ul li {
        margin: 0 15px;
        font-size: 40px;
    }

    Footer .soc-icom ul li a i {
        color: var(--second-color);
        transition: var(--mine-transition);
    }

    Footer .footer-last {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        margin: 15px 0 0;
        padding: 10px;
        position: relative;
    }

    Footer .footer-last .footer-bottom {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: #000000bd;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    Footer .footer-last .footer-bottom .icom {
        font-size: 30px;
        color: var(--second-color);
    }

    Footer .footer-last .text {
        font-size: 25px;
            direction: rtl;
            color: var(--second-color);
            position: relative;
            right: 27%;
    }
        
}
/* End Footer  */



/* Start another bage Html - bage : who are us  */
.who-us .container{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
}
.who-us .container .w-cont{
    background-image: url(../images/How-are-me/H-a-w.png);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-size: cover;
        min-height: 63vh;
        margin: 100px 0;
}
.who-us .container .w-cont .w-text {
    position: relative;
        direction: rtl;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: larger;
}
.who-us .container .w-cont .w-text h2{
    font-size: 50px;
        color: var(--mine-color);
        margin-bottom: 15px;
}
.who-us .container .w-cont .w-text p{
    font-size: 28px;
    padding: 10px;
        color: var(--transform-color);
        line-height: 1.8;
}
.who-us .container .logo-af img{
    min-width: 30vh;
}
.who-us .container .soc-icom {
    position: relative;
}

.who-us .container .soc-icom ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.who-us .container .soc-icom ul li {
    margin: 0 20px;
    font-size: 40px;
    transition: var(--mine-transition);
    -webkit-transition: var(--mine-transition);
    -moz-transition: var(--mine-transition);
    -ms-transition: var(--mine-transition);
    -o-transition: var(--mine-transition);
    position: relative;
}

.who-us .container .soc-icom ul li:nth-child(1) a i:hover,
.monye-ser .container .box .soshail ul li:nth-child(1) a i:hover,
.logsttic-ser .container .box .soshail ul li:nth-child(1) a i:hover,
.trade-ser .container .box .soshail ul li:nth-child(1) a i:hover,
.commercial-ser .container .box .soshail ul li:nth-child(1) a i:hover {
    color: #00ff04;
}

.who-us .container .soc-icom ul li:nth-child(2) a i:hover,
.monye-ser .container .box .soshail ul li:nth-child(2) a i:hover,
.logsttic-ser .container .box .soshail ul li:nth-child(2) a i:hover,
.trade-ser .container .box .soshail ul li:nth-child(2) a i:hover,
.commercial-ser .container .box .soshail ul li:nth-child(2) a i:hover {
    color: #05edad;
}

.who-us .container .soc-icom ul li:nth-child(3) a i:hover,
.monye-ser .container .box .soshail ul li:nth-child(3) a i:hover ,
.logsttic-ser .container .box .soshail ul li:nth-child(3) a i:hover,
.trade-ser .container .box .soshail ul li:nth-child(3) a i:hover,
.commercial-ser .container .box .soshail ul li:nth-child(3) a i:hover{
    color: #f3810a;
}

.who-us .container .soc-icom ul li:nth-child(4) a i:hover,
.monye-ser .container .box .soshail ul li:nth-child(4) a i:hover,
.logsttic-ser .container .box .soshail ul li:nth-child(4) a i:hover,
.trade-ser .container .box .soshail ul li:nth-child(4) a i:hover,
.commercial-ser .container .box .soshail ul li:nth-child(4) a i:hover {
    color: #0770f1
}
@media(min-width:768px) and (max-width:991px){
    .who-us .container .w-cont{
        margin: 260px 0;
            padding-top: 18px;
            margin-bottom: 50px;
    }
}
@media(max-width:767px){
    .who-us .container .w-cont {
        margin: 260px 0;
            padding-top: 18px;
            margin-bottom: 50px;
    }
    .who-us .container .w-cont .w-text p {
        font-size: 18px;
            padding: 15px;
        }
    
}
/* End another bage Html - bage : who are us  */

/* Start another bage Html- bage : Monay  */
.monye-ser  .container,
.logsttic-ser .container,
.trade-ser .container,
.commercial-ser .container{
    padding-top: 300px;
}
.monye-ser .container .box,
.logsttic-ser .container .box,
.trade-ser .container .box,
.commercial-ser .container .box{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
}

.monye-ser .container .box .image,
.logsttic-ser .container .box .image,
.trade-ser .container .box .image,
.commercial-ser .container .box .image{
    position: relative;
        text-align: center;
}
.monye-ser .container .box h2,
.logsttic-ser .container .box h2,
.trade-ser .container .box h2,
.commercial-ser .container .box h2{
    font-size: 50px;
        color: var(--mine-color);
        /* position: relative;
        left: 75%; */
}
.monye-ser .container .box .image img,
.logsttic-ser .container .box .image img,
.trade-ser .container .box .image img,
.commercial-ser .container .box .image img{
    max-width: 100%;
        max-height: 100%;
        border-radius:18px;
        -webkit-border-radius:18px;
        -moz-border-radius:18px;
        -ms-border-radius:18px;
        -o-border-radius:18px;
}
.monye-ser .container .box .soshail ul,
.logsttic-ser .container .box .soshail ul,
.trade-ser .container .box .soshail ul,
.commercial-ser .container .box .soshail ul {
    display: flex;
        position: relative;
        background-color: #7fedff5c;;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius:8px;
        -webkit-border-radius:8px;
        -moz-border-radius:8px;
        -ms-border-radius:8px;
        -o-border-radius:8px;
}
.monye-ser .container .box .soshail ul li,
.logsttic-ser .container .box .soshail ul li,
.trade-ser .container .box .soshail ul li,
.commercial-ser .container .box .soshail ul li{
    padding: 0 10px;
        font-size: 40px;
        transition: var(--mine-transition);
        -webkit-transition: var(--mine-transition);
        -moz-transition: var(--mine-transition);
        -ms-transition: var(--mine-transition);
        -o-transition: var(--mine-transition);
}
@media(max-width:767px){
    .monye-ser .container,
    .logsttic-ser .container,
    .trade-ser .container,
    .commercial-ser .container{
        padding-top: 350px;
    }
    .monye-ser .container .box h2,
    .logsttic-ser .container .box h2,
    .trade-ser .container .box h2,
    .commercial-ser .container .box h2{
        font-size: 28px;
            position: relative;
            left: 50%;
    }
    .monye-ser .container .box .soshail ul li,
    .logsttic-ser .container .box .soshail ul li,
    .trade-ser .container .box .soshail ul li,
    .commercial-ser .container .box .soshail ul li{
        font-size: 32px;
    }
}
.monye-ser .container .text-one,
.logsttic-ser .container .text-one,
.trade-ser .container .text-one,
.trade-ser .container .box-text,
.commercial-ser .container .text-one,
.commercial-ser .container .box-text{
    position: relative;
        padding: 20px;
        margin: 15px 10px;
        direction: rtl;
}
.monye-ser .container .text-one h3,
.monye-ser .container .text-tow h4,
.logsttic-ser .container .text-one h3,
.trade-ser .container .text-one h3,
.commercial-ser .container .text-one h3 {
    font-size: 35px;
        padding: 20px 0;
        color: var(--transform-color);
    
}
.monye-ser .container .text-one p,
.logsttic-ser .container .text-one p,
.trade-ser .container .text-one p,
.commercial-ser .container .text-one p {
    font-size: 25px;
        line-height: 1.8;
        color: #000000bf;
}
.monye-ser .container .text-tow{
    position: relative;
        direction: rtl;
        padding: 20px;
        margin: 10px;
}
.monye-ser .container .text-tow ul li,
.commercial-ser .container .box-text ul li {
    font-size: 25px;
        margin: 10px 0;
}
.monye-ser .container .text-tow ul li i,
.commercial-ser .container .box-text ul li i{
    margin-left: 10px;
        color: var(--second-color);
}
.monye-ser .container .text-tow ul li span,
.monye-ser .container .text-p p span{
    color: red;
    font-size: 35px;
}
.monye-ser .container .text-p  {
    padding: 20px;
        margin: 15px 0;
        font-size: 30px;
        color: brown;
        line-height: 2;
}
@media(max-width:767px){
    .monye-ser .container .text-tow ul li,
    .monye-ser .container .text-p p{
        font-size: 22px;
    }
    .trade-ser .container .text-one p,
    .commercial-ser .container .text-one p,
        .commercial-ser .container .box-text ul li{
    font-size: 18px;
    }
}
/* End another bage Html- bage : Monay  */
/* Start another bage Html- bage : Logisctic  */
.logsttic-ser .cont-log{
    display: grid;
        grid-template-columns: repeat(auto-fill,minmax(600px,1fr));
        gap: 20px;
        position: relative;
}
.logsttic-ser .cont-log .box{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15px;
        padding: 20px;
        position: relative;
        background-color: #e9e9e969;
        border-radius: 10px;
}
/* .logsttic-ser .cont-log .box .image {
   
} */
.logsttic-ser .cont-log .box .image img {
    width: 100px;
        background-color: #ffb7338f;
        border-radius: 10px;
        position: relative;
        right: 100%;
}
.logsttic-ser .cont-log .box .text{
    direction: rtl;
}
.logsttic-ser .cont-log .box .text h3 {
    font-size: 26px;
        color: var(--mine-color);
        margin: 15px 0;
}
.logsttic-ser .cont-log .box .text p{
    font-size: 22px;
            line-height: 1.8;
}
@media(max-width:767px){
    .logsttic-ser .cont-log{
        display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;
            position: relative;
    }
}
/* End another bage Html- bage : Logisctic  */
/* Start another bage Html- bage : Trading  */
.trade-ser .container .box-text h2,
.commercial-ser .container .box-text h3{
    font-size: 27px;
        color: var(--transform-color);
        margin: 0 0 20px;
}
.trade-ser .container .box-text ul .maine,
.trade-ser .container .box-text ul li{
    font-size: 22px;
    color: rgb(14, 14, 14);
    margin: 15px 0;
}
.trade-ser .container .box-text ul .maine i,
.trade-ser .container .box-text ul li i {
    color: blue;
        margin: 0 10px;
}
.trade-ser .container .box-text ul .maine label ol{
    margin: 0 5px;
        color: darkred;
}
.trade-ser .container .box-text ul .maine label{
    display: none;
}
.trade-ser .container .box-text ul .maine .ch:checked ~label{
    display: flex;
}
@media(max-width:767px){
    .trade-ser .container .box-text ul .maine,
    .trade-ser .container .box-text ul li {
        font-size: 18px;
    }
    .trade-ser .container .box-text ul .maine label ol{
        font-size: 16px;
            display: contents;
    }
}
/* End another bage Html- bage : Trading  */
/* start another bage Html- bage : commecial  */
/* End another bage Html- bage : commecial  */
/* Start anouther bage Html - bage : call-us  */
.call-us h2{
    position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px;
}
.call-us .container .call-cont{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
        position: relative;
}
.call-us .container .call-cont .box-o{
    direction: rtl;
        margin: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
}
.call-us .container .call-cont .box-o  h3 {
    font-size: 35px;
        color: var(--mine-color);
}
.call-us .container .call-cont .box-o .loc{
    display: flex;
        flex-direction: row;
        position: relative;
        margin: 15px;
}
.call-us .container .call-cont .box-o .loc i,
.call-us .container .call-cont .box-o .num-1 div i,
.call-us .container .call-cont .box-o .num-2 div i,
.call-us .container .call-cont .box-o .gma i
{
    display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        margin: 0 10px;
        color:red;
}
.call-us .container .call-cont .box-o .loc a {
    font-size: 20px;
        color: blue;
        
}
.call-us .container .call-cont .box-o .num-1 div,
.call-us .container .call-cont .box-o .num-2 div,
.call-us .container .call-cont .box-o .gma div {
    display: flex;
        align-items: center;
        font-size: 25px;
        margin: 15px;
}
.call-us .container .call-cont .box-o .num-1 div p,
.call-us .container .call-cont .box-o .num-2 div p
{
    color: darkolivegreen;
        font-family: 'FontAwesome';
}
.call-us .container .call-cont .box-o .gma div a{
    color: darkolivegreen;
}
@media(min-width:768px) and (max-width:991px){
    .call-us {
        position: relative;
        padding-top: 325px;
        }
}
@media(max-width:767px){
    .call-us{
        position: relative;
        padding-top: 325px;
    }
    .call-us .container .call-cont {
        display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        
    }
    .call-us .container .call-cont .box-o h3{
        font-size: 25px;
    }
    .call-us .container .call-cont .box-o .loc i,
    .call-us .container .call-cont .box-o .num-1 div i,
    .call-us .container .call-cont .box-o .num-2 div i,
    .call-us .container .call-cont .box-o .gma i {
        font-size: 20px;
            margin: 10px;
    }
    .call-us .container .call-cont .box-o .loc p,
    .call-us .container .call-cont .box-o .num-1 div,
    .call-us .container .call-cont .box-o .num-2 div,
    .call-us .container .call-cont .box-o .gma div {
        font-size: 16px;
        color: blue;
    }
    .call-us .container .call-cont .box-o .gma div a {
        font-size: 18px;
    }
}
.call-us .container .call-cont .box-t{
    flex-basis: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.call-us .container .call-cont .box-t form{
flex-basis: 50%;
}
.call-us .container .call-cont .box-t input:not(:last-child){
    padding: 15px;
        margin-bottom: 30px;
        background-color: #f6f6f6;
        border: none;
        width: 100%;
        display: block;
        border-bottom: 1px solid #ddd;
        caret-color: var(--second-color);
}
.call-us .container .call-cont .box-t input:focus,
.call-us .container .call-cont .box-t textarea:focus{
    outline: none;
}
.call-us .container .call-cont .box-t textarea{
    display: block;
        width: 100%;
        background-color: #f6f6f6;
        height: 200px;
        padding: 10px;
        border: none;
        margin-bottom: 20px;
        caret-color: var(--secnd-color);
        resize: none;
}
.call-us .container .call-cont .box-t input:last-child{
    width: 100%;
        padding: 15px;
        color: white;
        background-color: var(--mine-color);
        border: none;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
}
/* End anouther bage Html - bage : call-us  */

/* Start anouther bage Html - bage : servise  */
.main-sevi{
    padding-top: 90px;
    padding-bottom: 50px;
    margin: auto;
}

.main-sevi .container h2{
    margin: auto;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 50px;
}
.main-sevi .container .main-servi-container{
    display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        flex: 1;
 }
.main-sevi .container .main-servi-container .se-one,
.main-sevi .container .main-servi-container .se-tow,
.main-sevi .container .main-servi-container .se-there,
.main-sevi .container .main-servi-container .se-four{
    display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        flex: 1;
        margin: 100px 5px ;
}

.main-sevi .container .main-servi-container .se-one .one-text,
.main-sevi .container .main-servi-container .se-tow .tow-text,
.main-sevi .container .main-servi-container .se-there .there-text,
.main-sevi .container .main-servi-container .se-four .four-text{
    padding: 10px;
        direction: rtl;
        position: relative;
}
.one-text h3,
.tow-text h3,
.there-text h3,
.four-text h3{
    font-size: 35px;
    color: var(--mine-color);
    margin-bottom: 10px;
}
.one-text p,
.tow-text p,
.there-text p,
.four-text p{
    font-size: 20px;
}
.se-one img,
.se-tow img,
.se-there img,
.se-four img{
    width: 75%;
        position: relative;
        left: 30%;
        border-radius: 10px;
}
.se-there img{
    left: 20%;
}
.se-tow img,
.se-four img{
    left: 0%;
}
.one-text .bottom,
.tow-text .bottom,
.there-text .bottom,
.four-text .bottom {
        position: relative;
        right: 50%;
        padding: 5px;
        width: 160px;
        border-radius: 35px;
        background-color: #7fffd4c7;
        display: flex;
        justify-content: center;
        margin: 5px ;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        -ms-border-radius: 35px;
        -o-border-radius: 35px;
}
.one-text .bottom a,
.tow-text .bottom a,
.there-text .bottom a,
.four-text .bottom a {
    font-size: 28px;
}
.one-text .bottom:hover,
.tow-text .bottom:hover,
.there-text .bottom:hover,
.four-text .bottom:hover{
    background-color: #f10707ab;
}
.one-text .bottom a:hover,
.tow-text .bottom a:hover,
.there-text .bottom a:hover,
.four-text .bottom a:hover{
    color: var(--mine-color);
} 

@media(min-width:768px) and (max-width:991px){
    .main-sevi{
        padding-top: 240px;
    }
}
@media(max-width:767px){
    .main-sevi{
        padding-top: 350px;
    }
    .main-sevi .container .main-servi-container .se-one,
    .main-sevi .container .main-servi-container .se-tow,
    .main-sevi .container .main-servi-container .se-there,
    .main-sevi .container .main-servi-container .se-four{
        flex-direction: column;
    }
    .one-text h3,
    .tow-text h3,
    .there-text h3,
    .four-text h3{
        font-size: 28px;
    }
    
   .se-one img{
    transform: translate(-65px, -10px);
    -webkit-transform: translate(-65px, -10px);
    -moz-transform: translate(-65px, -10px);
    -ms-transform: translate(-65px, -10px);
    -o-transform: translate(-65px, -10px);
}
   .se-there img{
    transform: translate(-30px, 0px);
    -webkit-transform: translate(-30px, 0px);
    -moz-transform: translate(-30px, 0px);
    -ms-transform: translate(-30px, 0px);
    -o-transform: translate(-30px, 0px);
}
   .se-tow img,
   .se-four img{
    transform: translate(50px, -50px);
    -webkit-transform: translate(50px, -50px);
    -moz-transform: translate(50px, -50px);
    -ms-transform: translate(50px, -50px);
    -o-transform: translate(50px, -50px);
    margin-top: 100px;
    }
}
/* End anouther bage Html - bage : servise  */

/* Start anouther bage Html - bage : import & Export  */
.impotr-export,
.toursim,
.Turkey-N{
    padding-top: 150px;
        padding-bottom: 150px;
        margin: 25px;
        position: relative;
        background-color: #c5c5b03d;
}
.container-i-e,
.container-T{
    display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
}
.container-i-e h1,
.container-T h1{
    font-size: 28px;
}
.i-e-text-one,
.i-e-text-tow,
.i-e-text-there,
.i-e-text-four,
.t-one,
.t-tow{
    padding: 10px;
        width: 700px;
        direction: rtl;
        font-size: 20px;
}
.container-i-e h1,
.container-T h1,
.i-e-text-tow h3,
.i-e-text-there h3,
.i-e-text-four h3,
.t-one h3,
.t-tow h3{
    color: var(--mine-color);
        margin: 0 0 15px;
}
.i-e-text-tow h3,
.i-e-text-there h3,
.i-e-text-four,
.t-one h3,
.t-tow h3{
    font-size: 23px;
}
.i-e-text-one p,
.i-e-text-tow p,
.i-e-text-there p,
.i-e-text-four p,
.t-one p,
.t-tow p{
    font-family: 'Amiri';
        font-style: oblique;
        line-height: 1.8;
        font-size: 24px;
        color: black;
}
@media(min-width:768px) and (max-width:991px){
    .i-e-text-one,
    .i-e-text-tow,
    .i-e-text-there,
    .i-e-text-four,
    .t-one,
    .t-tow{
        width: 500px;
    }
}
@media(max-width:767px ){
    .impotr-export,
    .toursim{
        padding-top: 350px;
    }
    .i-e-text-tow h3,
        .i-e-text-there h3,
        .i-e-text-four,
        .t-one h3,
        .t-tow h3{
            font-size: 20px;
        }

    .i-e-text-one,
        .i-e-text-tow,
        .i-e-text-there,
        .i-e-text-four,
        .t-one,
        .t-tow {
            width: 300px;
    }

    .i-e-text-one p,
    .i-e-text-tow p,
    .i-e-text-there p,
    .i-e-text-four p,
    .t-one p,
    .t-tow p{
    font-size: 16px;
    }
}
/* End anouther bage Html - bage : import & Export  */

/* Start anouther bage Html - bage : Toursim  */
.container-T .t-tow span{
    font-size: 32px;
    color: var(--mine-color);
}

.T-image{
    display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        position: relative;
       
}
.imge-one,
.imge-tow,
.imge-three,
.imge-four{
    position: relative;
    text-align: center;
    align-items: center;
}

.imge-one::before,
.imge-tow::before,
.imge-three::before,
.imge-four::before{
    content: "";
    background-color: #c5af865c;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% - 60px);
    border-radius: 10px;
    z-index: -2;
    transition: var(--mine-transition);
}

.imge-one img,
.imge-tow img,
.imge-three img,
.imge-four img{
    width: 95%;
    border-radius: 10px;
} 

.imge-one:hover::before,
.imge-tow:hover::before,
.imge-three:hover::before,
.imge-four:hover::before{
    width: 100%;
    z-index: 1;
}
.imge-one:hover::before{
    background-image: url(/images/image/galta.jpg);
}
.imge-tow:hover::before{
    background-image: url(/images/image/ice.jpg);
}
.imge-three:hover::before{
    background-image: url(/images/image/masjed.jpg);
}
.imge-four:hover::before{
    background-image: url(/images/image/Tousim.jpg);
}
/* End anouther bage Html - bage : Toursim  */

/* Start anouther bage Html - bage : Turkey-Nationalty  */

.Turkey-N{
    direction: rtl;
}
.Turkey-N .box-imge {
    align-items: center;
    text-align: center;
    position: relative;
}
.Turkey-N .box-imge img {
    text-align: center;
}
.Turkey-N .container {
    display: flex;
        align-items: center;
        position: relative;
        text-align: center;
        flex-direction: column;
}
.Turkey-N .container .box-text{
    margin-bottom: 28px;
        font-style: oblique;
        line-height: 2.8;
        font-size: 26px;
        color: black;
}
.Turkey-N .container .box-text h3 {
    color: var(--mine-color);
        font-size: 35px;
}
.Turkey-N .container .box-text h1 {
    color: var(--transform-color);
        font-size: 30px;
}
.Turkey-N .container .box-text p {
    font-family: 'Amiri';
}
.Turkey-N .container .box-text p span{
    color: #3300ff;
}
@media(min-width:768px) and (max-width:991px) {
    .Turkey-N{
    padding-top: 350px;
    }
    .Turkey-N .container .box-text {
        font-size: 21px;
            padding: 0 42px;
    }
}
@media(max-width:767px) {
    .Turkey-N {
        padding-top: 350px;
    }
    .Turkey-N .container .box-text{
        font-size: 16px;
            padding: 0 5px;
    }
    .Turkey-N .container .box-text h3{
        font-size: 28px;
    }
    .Turkey-N .container .box-text h1{
        font-size: 22px;
    }
}
/* End anouther bage Html - bage : Turkey-Nationalty  */
/* Start Animation  */
@keyframes chang-backgroun-color{
    0%,
    100% {
        background-color:#05ef57fd ;
    }

    25% {
        background-color: #05ef57fd;
    }

    50% {
        background-color: #05ef57fd;
    }

    75% {
        background-color: #05ef57fd;
    }
}
/* End Animation  */